.cart
{
    position: sticky;
    top: 0;
    margin-top: 20px;
    padding: 14px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(120, 143, 167);
}
.cart h4
{
    text-align: center;
    font-size: 30px;
}
.cart button
{
    outline: none;
    border: 2px solid pink;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 5px;
}
.cart button:hover
{

}
.btns
{
    display: flex;
    flex-direction: column;
    width: 70%;
}